$navbar-color: deepskyblue;

.navbar {
	list-style: none;
	margin: 0;
	background: $navbar-color;

	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: flex-start;
	z-index: 999;
}

.navbar a {
	text-decoration: none;
	display: block;
	padding: 1.2em;
	color: white;
	&.selected {
		background: darken($navbar-color, 2%);
	}
}

.navbar a:hover {
	background: darken($navbar-color, 2%);
}

.navbar .search-bar {
	
	align-self: center;
	float: right;
}

.navbar .search {
	padding: 6px 6px 6px 6px;
	border-radius: 5px;
	margin: 3px;
	color: #bcbcbc;
	border: 1px solid #d0d0d0;
	&:focus {
		outline-width: 0;
	}
}

@media all and (max-width: 800px) {
	.navbar {
		justify-content: space-around;

	}
}

@media all and (max-width: 600px) {
	.navbar {
		-webkit-flex-flow: column wrap;
		flex-flow: column wrap;
		padding: 0;
	}

	.navbar a {
		text-align: center;
		padding: 10px;
		border-top: 1px solid rgba(255,255,255,0.3);
		border-bottom: 1px solid rgba(255,255,255,0.1);
	}

	.navbar li:last-of-type a {
		border-bottom: none;
	}

}


