$workout-info-text-color: #9197A3;
.workout-info-container {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	-webkit-flex-flow: row wrap;
	color: $workout-info-text-color;

	.back-button {
		margin: 5px;
		cursor: pointer;
		&:hover {
			color: darken($workout-info-text-color, 15%);;
		}
		i {
			margin-right: 10px;
		}
	}
	.workout-info {
		background: white;
		margin: 5px;
		padding: 20px;
		width: 100%;
		margin-top: 5px;
		border: 1px solid rgba(0,0,0,0.1);
		border-radius: 2px;
		flex-grow: 1;
		text-align: center;

		div {
			margin: 5px;
		}

		h1 {
			padding: 5px;
			font-size: 3em;
		}
	}
}