.app {
	width: 80%;
	left: 10%;
	margin-top: 60px;
	position: absolute;
	overflow:hidden;

	.loading-splash {
		text-align: center;
		color: #9197A3;	
	}
}

@media all and (max-width: 800px) {
	.app {
		width: 100%;
		left: 0%;
	}
}
