$workouts-color: #E9EAED;
$workout-text-color: #9197A3;
.workouts {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: center;
}

.workout {
	background: white;
	margin: 5px;
	padding: 5px;
	width: 400px;
	height: 300px;
	margin-top: 10px;
	cursor: pointer;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 2px;
	flex-grow: 1;
}

.workout h1 {
	//line-height: 150px;
	color: $workout-text-color;
	font-weight: bold;
	font-size: 3em;
	text-align: center;	
}

.workout .summary li {
	margin: 1em;
	color: $workout-text-color;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

.workout:hover {
	background: darken($workouts-color, 5%);
}

@media all and (max-width: 800px) {
	.workout {
		width: 80%;
		height: 150px;
	}

	.workout h1 {
		font-size: 2em;
	}

	.workout .summary li {
		font-size: 1em;
		margin: 0.5em;
	}
}

@media all and (max-width: 600px) {
	.workouts {
		flex-flow: column wrap;
		padding: 0;
		justify-content: center;
	}
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0.01;
}
